.game-heading {
  margin: 1rem;
}
.fields {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin: 2rem; */
}
.field {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* width: 100%; */
  height: 60vh;

  aspect-ratio: 1;
}
.field-element {
  background: radial-gradient(hsl(240, 50%, 50%), hsl(240, 50%, 20%));
  border: 1px solid black;
  /* padding: 1rem; */
}
.ship-part {
  background: radial-gradient(hsl(240, 50%, 90%), hsl(240, 50%, 80%));
}
.enemy-hidden {
  /* background: radial-gradient(hsl(240, 100%, 50%), hsl(240, 50%, 20%)); */
  background: radial-gradient(hsl(240, 50%, 50%), hsl(240, 50%, 20%));

}
.enemy-cheat{
  background: radial-gradient(hsl(110, 50%, 50%), hsl(88, 51%, 20%));

}
.ship-hit {
  background: radial-gradient(hsl(0, 49%, 50%), hsl(56, 50%, 50%));
}
.empty-hit {
  background: radial-gradient(hsl(0, 0%, 25%), hsl(0, 0%, 5%));
}

.game-info {
  border: 5px solid black;
  padding: 1rem;
  width: fit-content;
  background: radial-gradient(hsl(240, 50%, 90%), hsl(240, 50%, 80%));
  color: black;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0.5rem auto;
}
@media only screen and (max-width: 760px) {
  .field {
    height: 45vh;
    margin: auto;

    /* width: 45vh; */
  }
  .fields {
    flex-direction: column;
  }
}
