.selection-text{
    margin-top: 1rem;
}
.selection-grid{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    height: 75vmin;
    width: 75vmin;
    margin:2rem auto;
}
.selection-element{
    background: radial-gradient(hsl(240, 50%, 50%),hsl(240, 50%, 20%));
    border:2px solid black;
    /* aspect-ratio: 1; */
}

/* js classes */
.highlight{
    background: radial-gradient(hsl(240, 50%, 90%),hsl(240, 50%, 80%));

}